/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--body-bg);
}

a,
button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid, .container {
  --grid-gutter-width-x: 30px;
  --grid-gutter-width-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(--grid-gutter-width-y * -1);
  margin-left: calc(--grid-gutter-width-x * -0.5);
  margin-right: calc(--grid-gutter-width-x * -0.5);
}
.row > * {
  margin-top: var(--grid-gutter-width-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.row-cols-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}

.row-cols-9 > * {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.row-cols-10 > * {
  flex: 0 0 auto;
  width: 10%;
}

.row-cols-11 > * {
  flex: 0 0 auto;
  width: 9.0909090909%;
}

.row-cols-12 > * {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.g-0-x {
  --grid-gutter-width-x: 0px;
}

.g-0,
.g-0-y {
  --grid-gutter-width-y: 0px;
}

.g-1,
.g-1-x {
  --grid-gutter-width-x: 30px;
}

.g-1,
.g-1-y {
  --grid-gutter-width-y: 30px;
}

.g-2,
.g-2-x {
  --grid-gutter-width-x: 60px;
}

.g-2,
.g-2-y {
  --grid-gutter-width-y: 60px;
}

.g-3,
.g-3-x {
  --grid-gutter-width-x: 90px;
}

.g-3,
.g-3-y {
  --grid-gutter-width-y: 90px;
}

.g-4,
.g-4-x {
  --grid-gutter-width-x: 120px;
}

.g-4,
.g-4-y {
  --grid-gutter-width-y: 120px;
}

.g-5,
.g-5-x {
  --grid-gutter-width-x: 150px;
}

.g-5,
.g-5-y {
  --grid-gutter-width-y: 150px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-sm-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-sm-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-sm-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-sm-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-sm-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-sm-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .g-sm-0,
  .g-sm-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-sm-0,
  .g-sm-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-sm-1,
  .g-sm-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-sm-1,
  .g-sm-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-sm-2,
  .g-sm-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-sm-2,
  .g-sm-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-sm-3,
  .g-sm-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-sm-3,
  .g-sm-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-sm-4,
  .g-sm-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-sm-4,
  .g-sm-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-sm-5,
  .g-sm-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-sm-5,
  .g-sm-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-md-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-md-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-md-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-md-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-md-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-md-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .g-md-0,
  .g-md-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-md-0,
  .g-md-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-md-1,
  .g-md-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-md-1,
  .g-md-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-md-2,
  .g-md-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-md-2,
  .g-md-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-md-3,
  .g-md-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-md-3,
  .g-md-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-md-4,
  .g-md-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-md-4,
  .g-md-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-md-5,
  .g-md-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-md-5,
  .g-md-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-lg-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-lg-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-lg-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-lg-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-lg-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-lg-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .g-lg-0,
  .g-lg-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-lg-0,
  .g-lg-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-lg-1,
  .g-lg-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-lg-1,
  .g-lg-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-lg-2,
  .g-lg-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-lg-2,
  .g-lg-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-lg-3,
  .g-lg-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-lg-3,
  .g-lg-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-lg-4,
  .g-lg-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-lg-4,
  .g-lg-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-lg-5,
  .g-lg-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-lg-5,
  .g-lg-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-xl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-xl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-xl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-xl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-xl-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-xl-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xl-0,
  .g-xl-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-xl-0,
  .g-xl-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-xl-1,
  .g-xl-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-xl-1,
  .g-xl-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-xl-2,
  .g-xl-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-xl-2,
  .g-xl-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-xl-3,
  .g-xl-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-xl-3,
  .g-xl-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-xl-4,
  .g-xl-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-xl-4,
  .g-xl-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-xl-5,
  .g-xl-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-xl-5,
  .g-xl-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-xxl-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-xxl-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-xxl-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-xxl-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-xxl-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-xxl-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g-xxl-0,
  .g-xxl-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-xxl-0,
  .g-xxl-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-xxl-1,
  .g-xxl-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-xxl-1,
  .g-xxl-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-xxl-2,
  .g-xxl-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-xxl-2,
  .g-xxl-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-xxl-3,
  .g-xxl-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-xxl-3,
  .g-xxl-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-xxl-4,
  .g-xxl-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-xxl-4,
  .g-xxl-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-xxl-5,
  .g-xxl-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-xxl-5,
  .g-xxl-5-y {
    --grid-gutter-width-y: 150px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5532%) hue-rotate(281deg) brightness(127%)
    contrast(112%);
  --header-bg: #171c28;
  --body-bg: #292e39;
  --top-act-grp-bg: #292e39;
  --top-act-grp-shadow: rgba(0, 0, 0, 0.2);
  --top-act-sepharate: #ededf6;
  --navbar-side: #292e39;
  --dropdown-bg-color: #363c49;
  --dropdown-shadown-color: rgba(23, 28, 40, 0.4);
  --dropdown-arow-color: brightness(0) saturate(100%) invert(19%) sepia(32%) saturate(374%) hue-rotate(183deg)
    brightness(93%) contrast(86%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(464%) hue-rotate(202deg)
    brightness(99%) contrast(98%);
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow: rgba(0, 0, 0, 0.2);
  }
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(48%) saturate(1013%) hue-rotate(213deg) brightness(100%)
    contrast(95%);
  --header-bg: #eee;
  --body-bg: #f6f6f6;
  --top-act-grp-bg: #fff;
  --top-act-grp-shadow: rgba(237, 237, 246, 0.2);
  --top-act-sepharate: #ededf6;
  --navbar-side: #fff;
  --dropdown-bg-color: #fff;
  --dropdown-shadown-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(10%) sepia(15%) saturate(2080%) hue-rotate(210deg)
    brightness(88%) contrast(98%);
}
@media (max-width: 991.98px) {
  html {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }
}

.top-act__btn, .top-act .top-act__group, .navbar__link, .top_header {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg);
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  .header {
    padding: 16px 0;
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}

.top_header {
  position: relative;
}
@media (max-width: 575.98px) {
  .top_header {
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .top-bar__more {
    padding: 4px 6px;
    width: 24px;
    height: 24px;
  }
}

.navbar {
  margin-left: 129px;
  margin-right: auto;
  z-index: 9;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 30px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    inset: 0 50% 0 0;
    position: fixed;
    background: var(--navbar-side);
    margin-left: 0;
    padding: 20px 0;
    translate: -100%;
    transition: translate 0.5s;
  }
  .navbar.show {
    translate: 0;
  }
  .navbar.show ~ .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar-close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar-close-btn {
    display: block;
    padding: 10px 40px;
  }
}
.navbar-overlay {
  visibility: hidden;
  opacity: 0;
  transform: opacity, visibility;
  transition-duration: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar-overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.navbar--item:hover .dropdown {
  display: block;
}
.navbar__list {
  display: flex;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 26px);
  }
}
.navbar__link {
  gap: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46667; /* 146.667% */
  height: 50px;
  padding: 0 15px;
}
@media (max-width: 991.98px) {
  .navbar__link {
    justify-content: space-between;
    padding: 0 40px;
    font-family: Gordita;
    font-size: 1.5rem;
    line-height: 146.667%; /* 146.667% */
  }
}
.navbar .row-down {
  margin-top: 3px;
  width: 12px;
  height: 12px;
}

.top-act {
  display: flex;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .top-act {
    margin-left: auto;
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act .top-act__group {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-grp-bg);
  box-shadow: 0px 20px 60px 10px var(--top-act-grp-shadow);
}
.top-act .top-act__group .top-act-sepharate {
  width: 1px;
  height: 30px;
  background: var(--top-act-sepharate);
}
@media (max-width: 991.98px) {
  .top-act .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  padding: 0 20px;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%; /* */
}
.top-act .top-act-user .top-act-avt {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo .img-logo {
    width: 24px;
    height: 24px;
    display: block;
  }
}
@media (max-width: 991.98px) {
  .logo {
    font-size: 1.8rem;
    gap: 10px;
  }
}
.logo .name-logo {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45455; /* 145.455% */
  color: var(--text-color);
}

.dropdown {
  display: none;
  width: min(1240px, 100%);
  padding-top: 50px;
  position: absolute;
  border-radius: 20px;
  left: 0;
}
@media (max-width: 991.98px) {
  .dropdown {
    display: block;
    position: initial;
    padding-top: 0;
  }
}
.dropdown--inner {
  --inner-max-height: min(590px, 100vh - 158px);
  --inner-padding: 30px;
  --max-height-inner: calc(var(--inner-max-height) - var(--inner-padding) * 2);
  position: relative;
  height: var(--inner-max-height);
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadown-color);
  padding: var(--inner-padding);
  border-radius: 20px;
}
.dropdown--inner::before {
  content: url("../icon/dropdown-arrow.svg");
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arow-color);
}
@media (max-width: 991.98px) {
  .dropdown--inner {
    padding: 0 40px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }
  .dropdown--inner::before {
    content: none;
  }
}

.top-menu {
  position: relative;
  height: var(--max-height-inner);
}
@media (max-width: 991.98px) {
  .top-menu {
    position: initial;
  }
}
.top-menu-main {
  width: 292px;
  max-height: inherit;
  overflow-y: auto;
  border-right: 1px solid var(--top-menu-border-color);
}
@media (max-width: 991.98px) {
  .top-menu-main {
    height: auto;
    border-right: none;
  }
}

.menu-column {
  display: flex;
}

.menu-column__icon {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__icon .menu-column__icon-1,
.menu-column__icon .menu-column__icon-2 {
  object-fit: contain;
}
.menu-column__icon .menu-column__icon-1 {
  width: 30px;
  height: 30px;
}
.menu-column__icon .menu-column__icon-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -6px;
  bottom: -8px;
  filter: var(--menu-column-icon-color);
}

.menu-column__content {
  margin-left: 14px;
  flex: 1;
}
@media (max-width: 991.98px) {
  .menu-column__content {
    margin-left: 0;
  }
}
.menu-column__content .menu-column-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 6px 0;
}
@media (max-width: 991.98px) {
  .menu-column__content .menu-column-title {
    margin-bottom: 26px;
  }
}
.menu-column__content .menu-column__list {
  display: block;
  margin-top: 13px;
}
.menu-column__content .menu-column__list .menu-column__item {
  display: block;
}
.menu-column__content .menu-column__list .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__content .menu-column__list .menu-column__item .menu-column__link {
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857;
}
.menu-column__content .menu-column__list .menu-column__item:last-child .menu-column__link {
  padding-bottom: 0;
}
@media (max-width: 991.98px) {
  .menu-column__content .menu-column__list {
    margin-top: 0;
  }
}

.menu-column__item .sub-menu {
  display: none;
}
.menu-column__item--active .sub-menu {
  display: grid;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 292px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
  }
}
.sub-menu-column {
  padding: 0 0 0 var(--inner-padding);
}
@media (max-width: 991.98px) {
  .sub-menu-column {
    padding: 0;
    margin-top: 10px;
  }
}
.sub-menu .menu-column + .menu-column {
  margin-top: 22px;
}
.sub-menu--single {
  display: grid;
  position: initial;
  inset: initial;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-height-inner);
}
@media (max-width: 991.98px) {
  .sub-menu--single {
    grid-template-columns: 1fr;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .sub-menu .menu-column__content {
    margin-left: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
