/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--body-bg);
}

a,
button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid, .container {
  --grid-gutter-width-x: 30px;
  --grid-gutter-width-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 1370px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-width-y) * -1);
  margin-left: calc(var(--grid-gutter-width-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-width-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-width-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.row-cols-7 > * {
  flex: 0 0 auto;
  width: 14.2857142857%;
}

.row-cols-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}

.row-cols-9 > * {
  flex: 0 0 auto;
  width: 11.1111111111%;
}

.row-cols-10 > * {
  flex: 0 0 auto;
  width: 10%;
}

.row-cols-11 > * {
  flex: 0 0 auto;
  width: 9.0909090909%;
}

.row-cols-12 > * {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0,
.g-0-x {
  --grid-gutter-width-x: 0px;
}

.g-0,
.g-0-y {
  --grid-gutter-width-y: 0px;
}

.g-1,
.g-1-x {
  --grid-gutter-width-x: 30px;
}

.g-1,
.g-1-y {
  --grid-gutter-width-y: 30px;
}

.g-2,
.g-2-x {
  --grid-gutter-width-x: 60px;
}

.g-2,
.g-2-y {
  --grid-gutter-width-y: 60px;
}

.g-3,
.g-3-x {
  --grid-gutter-width-x: 90px;
}

.g-3,
.g-3-y {
  --grid-gutter-width-y: 90px;
}

.g-4,
.g-4-x {
  --grid-gutter-width-x: 120px;
}

.g-4,
.g-4-y {
  --grid-gutter-width-y: 120px;
}

.g-5,
.g-5-x {
  --grid-gutter-width-x: 150px;
}

.g-5,
.g-5-y {
  --grid-gutter-width-y: 150px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .g-0,
  .g-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-0,
  .g-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-1,
  .g-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-1,
  .g-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-2,
  .g-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-2,
  .g-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-3,
  .g-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-3,
  .g-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-4,
  .g-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-4,
  .g-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-5,
  .g-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-5,
  .g-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .g-0,
  .g-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-0,
  .g-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-1,
  .g-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-1,
  .g-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-2,
  .g-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-2,
  .g-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-3,
  .g-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-3,
  .g-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-4,
  .g-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-4,
  .g-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-5,
  .g-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-5,
  .g-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .g-0,
  .g-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-0,
  .g-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-1,
  .g-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-1,
  .g-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-2,
  .g-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-2,
  .g-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-3,
  .g-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-3,
  .g-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-4,
  .g-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-4,
  .g-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-5,
  .g-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-5,
  .g-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .g-0,
  .g-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-0,
  .g-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-1,
  .g-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-1,
  .g-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-2,
  .g-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-2,
  .g-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-3,
  .g-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-3,
  .g-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-4,
  .g-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-4,
  .g-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-5,
  .g-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-5,
  .g-5-y {
    --grid-gutter-width-y: 150px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .row-cols-7 > * {
    flex: 0 0 auto;
    width: 14.2857142857%;
  }
  .row-cols-8 > * {
    flex: 0 0 auto;
    width: 12.5%;
  }
  .row-cols-9 > * {
    flex: 0 0 auto;
    width: 11.1111111111%;
  }
  .row-cols-10 > * {
    flex: 0 0 auto;
    width: 10%;
  }
  .row-cols-11 > * {
    flex: 0 0 auto;
    width: 9.0909090909%;
  }
  .row-cols-12 > * {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-0 {
    margin-left: 0;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .g-0,
  .g-0-x {
    --grid-gutter-width-x: 0px;
  }
  .g-0,
  .g-0-y {
    --grid-gutter-width-y: 0px;
  }
  .g-1,
  .g-1-x {
    --grid-gutter-width-x: 30px;
  }
  .g-1,
  .g-1-y {
    --grid-gutter-width-y: 30px;
  }
  .g-2,
  .g-2-x {
    --grid-gutter-width-x: 60px;
  }
  .g-2,
  .g-2-y {
    --grid-gutter-width-y: 60px;
  }
  .g-3,
  .g-3-x {
    --grid-gutter-width-x: 90px;
  }
  .g-3,
  .g-3-y {
    --grid-gutter-width-y: 90px;
  }
  .g-4,
  .g-4-x {
    --grid-gutter-width-x: 120px;
  }
  .g-4,
  .g-4-y {
    --grid-gutter-width-y: 120px;
  }
  .g-5,
  .g-5-x {
    --grid-gutter-width-x: 150px;
  }
  .g-5,
  .g-5-y {
    --grid-gutter-width-y: 150px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(5532%) hue-rotate(281deg) brightness(127%)
    contrast(112%);
  --header-bg: #171c28;
  --body-bg: #292e39;
  --top-act-grp-bg: #292e39;
  --top-act-grp-shadow: rgba(0, 0, 0, 0.2);
  --top-act-sepharate: #ededf6;
  --navbar-side: #292e39;
  --home-heading: #fff;
  --dropdown-bg-color: #363c49;
  --dropdown-shadown-color: rgba(23, 28, 40, 0.4);
  --dropdown-arow-color: brightness(0) saturate(100%) invert(19%) sepia(32%) saturate(374%) hue-rotate(183deg)
    brightness(93%) contrast(86%);
  --top-menu-border-color: #171c28;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(464%) hue-rotate(202deg)
    brightness(99%) contrast(98%);
  --cate-item-backgruond: #171c28;
  --cate-item-derc: #fff;
  --cate-item-img-bg: #292e39;
  --cate-face-before-color: #000;
  --filter-color: #fff;
  --filter-btn-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(3380%) hue-rotate(317deg)
    brightness(114%) contrast(100%);
  --filter-btn-bg: #171c28;
  --product-card-bg: #171c28;
  --text-price: #fff;
  --text-score: #fff;
  --like-btn-bg: #292e39;
  --filter-like-btn-bg: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(299deg)
    brightness(102%) contrast(102%);
  --filter-form-bg: #292e39;
  --filter-form-shadow: rgba(0, 0, 0, 0.4);
  --filter-border-input-color: #d2d1d6;
  --filter-color-icon: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(86deg)
    brightness(104%) contrast(102%);
  --filter-tag-bg: #171c28;
  --filter-slider-psedu-bg: #292e39;
  --filter-psedu-bg: brightness(0) saturate(100%) invert(18%) sepia(9%) saturate(1183%) hue-rotate(183deg)
    brightness(89%) contrast(94%);
  --filter_theme: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(6157%) hue-rotate(213deg)
    brightness(114%) contrast(100%);
  --btn-text-color: #1a162e;
  --btn-theme-shadow: 0;
  --btn-border-theme: 1px solid transparent;
  --btn-hover: #fff;
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow: rgba(0, 0, 0, 0.2);
  }
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(48%) saturate(1013%) hue-rotate(213deg) brightness(100%)
    contrast(95%);
  --header-bg: #eee;
  --body-bg: #f6f6f6;
  --top-act-grp-bg: #fff;
  --top-act-grp-shadow: rgba(237, 237, 246, 0.2);
  --top-act-sepharate: #ededf6;
  --navbar-side: #fff;
  --home-heading: #1a162e;
  --dropdown-bg-color: #fff;
  --dropdown-shadown-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(10%) sepia(15%) saturate(2080%) hue-rotate(210deg)
    brightness(88%) contrast(98%);
  --cate-item-backgruond: #eee;
  --cate-item-derc: #1a162e;
  --cate-item-img-bg: #fff;
  --cate-face-before-color: #c1c1c1;
  --filter-color: #6c6c72;
  --filter-btn-color: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1400%) hue-rotate(210deg)
    brightness(90%) contrast(97%);
  --filter-btn-bg: #fff;
  --product-card-bg: #fff;
  --text-price: #1a162e;
  --text-score: #1a162e;
  --like-btn-bg: #fff;
  --filter-like-btn-bg: brightness(0) saturate(100%) invert(7%) sepia(38%) saturate(1219%) hue-rotate(213deg)
    brightness(97%) contrast(95%);
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-border-input-color: #d2d1d6;
  --filter-color-icon: brightness(0) saturate(100%) invert(9%) sepia(53%) saturate(619%) hue-rotate(210deg)
    brightness(89%) contrast(99%);
  --filter-tag-bg: #f8f8fb;
  --filter-slider-psedu-bg: #fff;
  --filter-psedu-bg: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(23%) hue-rotate(336deg)
    brightness(105%) contrast(105%);
  --btn-text-color: #1a162e;
  --btn-theme-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  --btn-border-theme: 1px solid #ccc;
  --btn-hover: #ccc;
}
@media (max-width: 991.98px) {
  html {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }
}

.top-act__btn, .top-act .top-act__group, .navbar__link, .top_header {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg);
  padding: 30px 0;
}
@media (max-width: 991.98px) {
  .header {
    padding: 16px 0;
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}

.top_header {
  position: relative;
}
@media (max-width: 575.98px) {
  .top_header {
    padding: 0 20px;
  }
}
@media (max-width: 991.98px) {
  .top_header {
    justify-content: space-between;
  }
}

@media (max-width: 991.98px) {
  .top-bar__more {
    padding: 4px 6px;
    width: 24px;
    height: 24px;
  }
}

.navbar {
  margin-left: 129px;
  margin-right: auto;
  z-index: 9;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 30px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    inset: 0 50% 0 0;
    position: fixed;
    background: var(--navbar-side);
    margin-left: 0;
    padding: 20px 0;
    translate: -100%;
    transition: translate 0.5s;
  }
  .navbar.show {
    translate: 0;
  }
  .navbar.show ~ .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar-close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar-close-btn {
    display: block;
    padding: 10px 40px;
  }
}
.navbar-overlay {
  visibility: hidden;
  opacity: 0;
  transform: opacity, visibility;
  transition-duration: 0.5s;
}
@media (max-width: 991.98px) {
  .navbar-overlay {
    position: fixed;
    inset: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.4);
  }
}
.navbar--item:hover .dropdown {
  display: block;
}
.navbar__list {
  display: flex;
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    overflow-y: auto;
    height: calc(100% - 26px);
  }
}
.navbar__link {
  gap: 6px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46667; /* 146.667% */
  height: 50px;
  padding: 0 15px;
}
@media (max-width: 991.98px) {
  .navbar__link {
    justify-content: space-between;
    padding: 0 40px;
    font-family: Gordita;
    font-size: 1.5rem;
    line-height: 146.667%; /* 146.667% */
  }
}
.navbar .row-down {
  margin-top: 3px;
  width: 12px;
  height: 12px;
}

.top-act {
  display: flex;
  gap: 30px;
}
@media (max-width: 1199.98px) {
  .top-act {
    margin-left: auto;
    gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .top-act {
    margin-left: 0;
  }
}
.top-act .top-act__group {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-grp-bg);
  box-shadow: 0px 20px 60px 10px var(--top-act-grp-shadow);
}
.top-act .top-act__group .top-act-sepharate {
  width: 1px;
  height: 30px;
  background: var(--top-act-sepharate);
}
@media (max-width: 991.98px) {
  .top-act .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  padding: 0 20px;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 146.667%; /* */
}
.top-act .top-act-user .top-act-avt {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}

.theme_darklight {
  border: var(--btn-border-theme);
  padding: 5px;
  border-radius: 8px;
}
.theme_darklight .icon-darklight {
  width: 40px;
  height: 40px;
  filter: var(--filter_theme);
  transition: transform 1s ease;
}

.theme_darklight:hover {
  box-shadow: var(--btn-theme-shadow);
  border-color: var(--btn-hover);
}
.theme_darklight:hover .icon-darklight {
  transform: rotate(90deg);
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo .img-logo {
    width: 24px;
    height: 24px;
    display: block;
  }
}
@media (max-width: 991.98px) {
  .logo {
    font-size: 1.8rem;
    gap: 10px;
  }
}
.logo .name-logo {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45455; /* 145.455% */
  color: var(--text-color);
}

.dropdown {
  display: none;
  width: min(1240px, 100%);
  padding-top: 50px;
  position: absolute;
  border-radius: 20px;
  left: 0;
}
@media (max-width: 991.98px) {
  .dropdown {
    display: block;
    position: initial;
    padding-top: 0;
  }
}
.dropdown--inner {
  --inner-max-height: min(590px, 100vh - 158px);
  --inner-padding: 30px;
  --max-height-inner: calc(var(--inner-max-height) - var(--inner-padding) * 2);
  position: relative;
  height: var(--inner-max-height);
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadown-color);
  padding: var(--inner-padding);
  border-radius: 20px;
}
.dropdown--inner::before {
  content: url("../icon/dropdown-arrow.svg");
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  translate: -50%;
  filter: var(--dropdown-arow-color);
}
@media (max-width: 991.98px) {
  .dropdown--inner {
    padding: 0 40px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    height: auto;
  }
  .dropdown--inner::before {
    content: none;
  }
}

.top-menu {
  position: relative;
  height: var(--max-height-inner);
}
@media (max-width: 991.98px) {
  .top-menu {
    position: initial;
  }
}
.top-menu-main {
  width: 292px;
  height: inherit;
  overflow-y: auto;
  border-right: 1px solid var(--top-menu-border-color);
}
@media (max-width: 991.98px) {
  .top-menu-main {
    height: auto;
    border-right: none;
  }
}

.menu-column {
  display: flex;
}

.menu-column__icon {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__icon .menu-column__icon-1,
.menu-column__icon .menu-column__icon-2 {
  object-fit: contain;
}
.menu-column__icon .menu-column__icon-1 {
  width: 30px;
  height: 30px;
}
.menu-column__icon .menu-column__icon-2 {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -6px;
  bottom: -8px;
  filter: var(--menu-column-icon-color);
}

.menu-column__content {
  margin-left: 14px;
  flex: 1;
}
@media (max-width: 991.98px) {
  .menu-column__content {
    margin-left: 0;
  }
}
.menu-column__content .menu-column-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 6px 0;
}
@media (max-width: 991.98px) {
  .menu-column__content .menu-column-title {
    margin-bottom: 26px;
  }
}
.menu-column__content .menu-column__list {
  display: block;
  margin-top: 13px;
}
.menu-column__content .menu-column__list .menu-column__item {
  display: block;
}
.menu-column__content .menu-column__list .menu-column__item:hover > .menu-column__link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column__content .menu-column__list .menu-column__item .menu-column__link {
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42857;
}
.menu-column__content .menu-column__list .menu-column__item:last-child .menu-column__link {
  padding-bottom: 0;
}
@media (max-width: 991.98px) {
  .menu-column__content .menu-column__list {
    margin-top: 0;
  }
}

.menu-column__item .sub-menu {
  display: none;
}
.menu-column__item--active .sub-menu {
  display: grid;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 292px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
  }
}
.sub-menu-column {
  padding: 0 0 0 var(--inner-padding);
}
@media (max-width: 991.98px) {
  .sub-menu-column {
    padding: 0;
    margin-top: 10px;
  }
}
.sub-menu .menu-column + .menu-column {
  margin-top: 22px;
}
.sub-menu--single {
  display: grid;
  position: initial;
  inset: initial;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-height-inner);
}
@media (max-width: 991.98px) {
  .sub-menu--single {
    grid-template-columns: 1fr;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .sub-menu .menu-column__content {
    margin-left: 14px;
  }
}

.slideshow {
  position: relative;
}
.slideshow__inner {
  display: flex;
  height: 455px;
  overflow: hidden;
}
.slideshow-item {
  width: 100%;
  flex-shrink: 0;
}
.slideshow-img {
  width: 100%;
}
.slideshow__page {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 76px;
  color: #fff;
  left: 68px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.4444; /* 144.444% */
  column-gap: 24px;
}
.slideshow__slider {
  position: relative;
  display: block;
  width: 168px;
  height: 4px;
  flex-shrink: 0;
  background: #fff;
}
.slideshow__slider::after, .slideshow__slider::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  border: 4px solid #fff;
  border-radius: 50%;
}
.slideshow__slider::before {
  translate: -90% -50%;
}
.slideshow__slider::after {
  right: 0;
  translate: 90% -50%;
}

.cate-item {
  display: flex;
  padding: 20px 26px 20px 20px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: var(--cate-item-backgruond);
  align-items: center;
}
.cate-item-face {
  position: relative;
  width: 116px;
  height: 116px;
  flex-shrink: 0;
  background: var(--cate-item-img-bg);
  border-radius: 10px;
}
.cate-item-face::before {
  content: "";
  position: absolute;
  display: block;
  top: 95px;
  left: 28px;
  width: 54.414px;
  height: 8px;
  flex-shrink: 0;
  background-color: var(--cate-face-before-color);
  z-index: 1;
  filter: blur(10px);
}
.cate-item .cate-img {
  position: relative;
  z-index: 2;
  width: 116px;
  height: 116px;
}
.cate-item .cate-item-title {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45455; /* 145.455% */
}
.cate-item .cate-item-derc {
  color: var(--cate-item-derc);
  width: 231px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  margin-top: 6px;
}

.product-card {
  border-radius: 20px;
  background-color: var(--product-card-bg);
  padding: 16px;
}
.product-card__img {
  display: flex;
  position: relative;
  width: 280px;
  height: 284px;
  flex-shrink: 0;
}
.product-card__img .product-card__thumb {
  width: 100%;
}
.product-card__img .like-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  right: 0;
  bottom: 0;
  background-color: var(--like-btn-bg);
  border-radius: 50%;
}
.product-card__img .like-btn:hover .like-btn-icon {
  filter: brightness(0) saturate(100%) invert(49%) sepia(52%) saturate(6883%) hue-rotate(340deg) brightness(105%) contrast(88%);
}
.product-card__img .like-btn-icon {
  filter: var(--filter-like-btn-bg);
}
.product-card__title {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 150% */
}
.product-card__brand {
  color: #9e9da8;
  margin: 16px 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 146.667%; /* 146.667% */
}
.product-card-row {
  display: flex;
  align-items: center;
}
.product-card-row .prodcut-card__price {
  color: var(--text-price);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 150% */
}
.product-card-row .product-card__star {
  margin-left: auto;
  margin-right: 6px;
}
.product-card-row .product-card__score {
  color: var(--text-score);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* */
}

.filter-wrap {
  position: relative;
  z-index: 1;
}

.filter {
  position: absolute;
  right: 0;
  top: 56px;
  padding: 30px;
  background-color: var(--filter-form-bg);
  filter: drop-shadow(0px 40px 90px var(--filter-form-shadow));
  border-radius: 20px;
  transform: opacity, visibility;
  transition-duration: 0.2s;
}
.filter.hide {
  opacity: 0;
  visibility: hidden;
}
.filter::before {
  content: url(../../assets/img/filter/filter-top-arrow.svg);
  position: absolute;
  top: -15px;
  right: 40px;
  filter: var(--filter-psedu-bg);
}
.filter__heading {
  color: var(--text-color);
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%; /* 145.455% */
}
.filter__form {
  margin-top: 30px;
}
.filter__form-row {
  display: flex;
}

.filter-col .form-col-label {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 145.455%;
}
.filter-col .filter__form-group {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.filter-col .filter__form-group .filter__form-slider {
  width: 272px;
  height: 2px;
  flex-shrink: 0;
  background-color: #d2d1d6;
  position: relative;
}
.filter-col .filter__form-group .filter__form-slider::before, .filter-col .filter__form-group .filter__form-slider::after {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border: 6px solid #ffb700;
  border-radius: 50%;
  background-color: var(--filter-slider-psedu-bg);
  top: 0;
  translate: 0 -50%;
}
.filter-col .filter__form-group .filter__form-slider::before {
  left: 16px;
}
.filter-col .filter__form-group .filter__form-slider::after {
  left: 160px;
}
.filter-col .filter__form-group .form-col-label-small {
  font-size: 1.4rem;
  line-height: 142.857%;
}
.filter-col .filter__form-group .filter__form-input {
  margin-top: 10px;
  width: 120px;
  background-color: transparent;
  padding: 8px 12px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  border-radius: 6px;
  border: 1px solid var(--filter-border-input-color);
}
.filter-col .filter__form-group .filter__form-select-wrap {
  display: flex;
  padding: 5px 14px;
  border-radius: 6px;
  border: 1px solid #d2d1d6;
}
.filter-col .filter__form-group .filter__form-select-wrap .filter__form-select {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
}
.filter-col .filter__form-group .filter__form-select-wrap .filter__form-select .filter__form-select-arrow {
  filter: var(--filter-color-icon);
}
.filter-col .filter__form-group .filter__form-select-wrap .filter__form-select:first-child > img {
  margin-left: 65px;
}
.filter-col .filter__form-group .filter__form-select-wrap .filter__form-select:last-child > img {
  margin-left: 17px;
}
.filter-col .filter__form-group .filter__form-select-wrap .filter-select-separation {
  width: 1px;
  height: 35px;
  background: #d2d1d6;
  margin: 0 14px;
}
.filter-col .filter__form-group .filter__form-tags {
  display: flex;
  gap: 20px;
}
.filter-col .filter__form-group .filter__form-tags .filter__form-tag {
  padding: 6px 12px;
  border-radius: 6px;
  color: #9e9da8;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 142.857%;
  background: var(--filter-tag-bg);
}
.filter-col .filter__form-group .form-search-name {
  display: flex;
  width: 334px;
  position: relative;
}
.filter-col .filter__form-group .form-search-name .filter__form-input {
  width: 100%;
  padding: 10px 16px;
  margin-top: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 146.667%;
}
.filter-col .filter__form-group .form-search-name .form-search-icon {
  position: absolute;
  filter: var(--filter-color-icon);
  right: 16px;
  top: 10px;
}

.filter-row-end {
  display: flex;
  justify-content: flex-end;
  margin-top: 18px;
}
.filter-row-end .filter-show {
  padding: 0 10px;
}

.col-separation {
  width: 1px;
  height: 162px;
  background: #eee;
  margin: 0 30px;
}

.btn {
  height: 46px;
  padding: 0 20px;
  border-radius: 6px;
  background: #f8f8fb;
  font-size: 1.8rem;
  font-weight: 500;
  user-select: none;
  color: var(--btn-text-color);
}
.btn + .btn {
  margin-left: 20px;
}
.btn--text {
  color: #9e9da8;
  background: transparent;
  font-weight: 400;
}
.btn--primary {
  background: #ffb700;
}
.btn--outline {
  background: transparent;
  border: 1px solid #d2d1d6;
}
.btn--rounded {
  border-radius: 99px;
}
.btn[disabled], .btn--disabled {
  opacity: 0.5;
  pointer-events: none;
}
.btn:hover {
  opacity: 0.9;
}

.homr__cate {
  --grid-gutter-width-x: 51px;
}

.section-home {
  margin-top: 40px;
}
@media (max-width: 767.98px) {
  .section-home {
    margin-top: 30px;
  }
}
.section-home .home-heading {
  color: var(--home-heading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 141.667%; /* 141.667% */
  margin-bottom: 20px;
}
.section-home .home-row-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.section-home .home-row-top .home-heading {
  margin-bottom: 0;
}
.section-home .home-row-top .filter-btn {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 6px 12px;
  border-radius: 6px;
  background: var(--filter-btn-bg);
  color: var(--filter-color);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%; /* 150% */
}
.section-home .home-row-top .filter-btn .filer-btn-icon {
  filter: var(--filter-btn-color);
}

.row-product + .row-product {
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
