html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%)
    saturate(5532%) hue-rotate(281deg) brightness(127%) contrast(112%);
  --header-bg: #171c28;
  --top-act-grp-bg: #292e39;
  --top-act-grp-shadow: rgba(0, 0, 0, 0.2);
  --top-act-sepharate: #ededf6;
}
