@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(48%)
    saturate(1013%) hue-rotate(213deg) brightness(100%) contrast(95%);
  --header-bg: #eee;
  --body-bg: #f6f6f6;
  --top-act-grp-bg: #fff;
  --top-act-grp-shadow: rgba(237, 237, 246, 0.2);
  --top-act-sepharate: #ededf6;

  // dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadown-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(10%) sepia(15%)
    saturate(2080%) hue-rotate(210deg) brightness(88%) contrast(98%);
  @include abstracts.breakpoint(lg) {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }
}
