@use "../abstracts";

html {
  --text-input-auto: #000;
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(48%) saturate(1013%) hue-rotate(213deg) brightness(100%)
    contrast(95%);
  --header-bg: #eee;
  --body-bg: #f6f6f6;
  --top-act-grp-bg: #fff;
  --top-act-grp-shadow: rgba(237, 237, 246, 0.2);
  --top-act-sepharate: #ededf6;
  --navbar-side: #fff;
  --home-heading: #1a162e;
  // header
  --bg-filter-arrow: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(1%) hue-rotate(334deg)
    brightness(103%) contrast(101%);
  --text-dropdown: #1a162e;
  --dropdown-act-bg: #fff;
  --dropdown-act-bg-img: #fff;

  // dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadown-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  --menu-column-icon-color: brightness(0) saturate(100%) invert(10%) sepia(15%) saturate(2080%) hue-rotate(210deg)
    brightness(88%) contrast(98%);

  // category
  --cate-item-backgruond: #eee;
  --cate-item-derc: #1a162e;
  --cate-item-img-bg: #fff;
  --cate-face-before-color: #c1c1c1;

  // filter-btn
  --filter-color: #6c6c72;
  --filter-btn-color: brightness(0) saturate(100%) invert(9%) sepia(24%) saturate(1400%) hue-rotate(210deg)
    brightness(90%) contrast(97%);
  --filter-btn-bg: #fff;

  // product card
  --product-card-bg: #fff;
  --text-price: #1a162e;
  --text-score: #1a162e;
  --like-btn-bg: #fff;
  --filter-like-btn-bg: brightness(0) saturate(100%) invert(7%) sepia(38%) saturate(1219%) hue-rotate(213deg)
    brightness(97%) contrast(95%);

  // filter
  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-border-input-color: #d2d1d6;
  --filter-color-icon: brightness(0) saturate(100%) invert(9%) sepia(53%) saturate(619%) hue-rotate(210deg)
    brightness(89%) contrast(99%);
  --filter-tag-bg: #f8f8fb;
  --filter-slider-psedu-bg: #fff;
  --filter-psedu-bg: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(23%) hue-rotate(336deg)
    brightness(105%) contrast(105%);

  // btn
  --btn-text-color: #1a162e;
  --btn-hover: #000;

  // footer
  --bg-footer: #eeeeee;

  // product page
  --product-page-bg: #fff;
  --breadcrumbs-bg: #fff;
  --breadcrumbs-box-shadow: rgba(237, 237, 246, 0.2);
  --text-color-product-page: #000;
  --filter-icon-product-page: brightness(0) saturate(100%) invert(7%) sepia(38%) saturate(1219%) hue-rotate(213deg)
    brightness(97%) contrast(95%);
  --pro-info-bg: #f6f6f6;
  --border-active-item-product: #000;
  --text-color-active-tab: #1a162e;
  --review-card-bg: #fafafd;

  // cheakout
  --cheackout--color-icon: brightness(0) saturate(100%) invert(74%) sepia(7%) saturate(359%) hue-rotate(206deg)
    brightness(86%) contrast(83%);
  --checkout-content-bg: #fff;
  --icon-color: brightness(0) saturate(100%) invert(0%) sepia(83%) saturate(7468%) hue-rotate(88deg) brightness(104%)
    contrast(100%);
  --checkout-text-color: #1a162e;
  --gift-bg-color: linear-gradient(0deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), #7644e1;
  --separate-color: #9e9da8;
  --input-checkbox-bg-icon: brightness(0) saturate(100%) invert(0%) sepia(8%) saturate(7466%) hue-rotate(215deg)
    brightness(95%) contrast(95%);

  // dialog
  --bg-modal: #fff;
  @include abstracts.screen(lg) {
    --product-demo-bg: #fff;
    // --pro-info-bg: #fff;
  }
  @include abstracts.screen(lg) {
    --header-bg: #fff;
    --header-shadow: rgba(237, 237, 246, 0.2);
  }
}
