html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(7%) sepia(48%)
    saturate(1013%) hue-rotate(213deg) brightness(100%) contrast(95%);
  --header-bg: #eee;
  --top-act-grp-bg: #fff;
  --top-act-grp-shadow: rgba(237, 237, 246, 0.2);
  --top-act-sepharate: #ededf6;
}
