@use "../abstracts";
%flexItemCenter {
  display: flex;
  align-items: center;
}
.header {
  background: var(--header-bg);
  padding: 30px 0;
  @include abstracts.breakpoint(lg) {
    padding: 16px 0;
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}
.top_header {
  position: relative;
  @extend %flexItemCenter;
  @include abstracts.breakpoint(sm) {
    padding: 0 20px;
  }
  @include abstracts.breakpoint(lg) {
    justify-content: space-between;
  }
}
.top-bar__more {
  display: none;
  @include abstracts.breakpoint(lg) {
    display: block;
    padding: 4px 6px;
    width: 24px;
    height: 24px;
  }
}
.navbar {
  margin-left: 129px;
  margin-right: auto;
  @include abstracts.breakpoint(lg) {
    display: none;
  }
  @include abstracts.breakpoint(xl) {
    margin-left: 30px;
  }
  &--item {
    &:hover .dropdown {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46667; /* 146.667% */
    height: 50px;
    padding: 0 15px;
  }
  .row-down {
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }
}

.top-act {
  @include abstracts.breakpoint(xl) {
    margin-left: auto;
    gap: 20px;
  }
  @include abstracts.breakpoint(lg) {
    margin-left: 0;
  }
  display: flex;
  gap: 30px;
  .top-act__group {
    @extend %flexItemCenter;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--top-act-grp-bg);
    box-shadow: 0px 20px 60px 10px var(--top-act-grp-shadow);

    @include abstracts.breakpoint(lg) {
      display: none;
    }
    .top-act-sepharate {
      width: 1px;
      height: 30px;
      background: var(--top-act-sepharate);
    }
  }
  .top-act__group--single {
    @include abstracts.breakpoint(lg) {
      display: none;
    }
  }
  &__group--single &__btn {
    padding: 13px;
  }
  &__btn {
    padding: 0 20px;
    @extend %flexItemCenter;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%; /* */
  }
  .top-act-user {
    .top-act-avt {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}
