@use "../abstracts";
%flexItemCenter {
  display: flex;
  align-items: center;
}
.header {
  background: var(--header-bg);
  padding: 30px 0;
  @include abstracts.screen(lg) {
    padding: 16px 0;
    box-shadow: 0px 20px 60px 10px var(--header-shadow);
  }
}
.top_header {
  position: relative;
  @extend %flexItemCenter;
  @include abstracts.screen(sm) {
    padding: 0 20px;
  }
  @include abstracts.screen(lg) {
    justify-content: space-between;
  }
}
.top-bar__more {
  @include abstracts.screen(lg) {
    padding: 4px 6px;
    width: 24px;
    height: 24px;
  }
}
.navbar {
  margin-left: 129px;
  margin-right: auto;
  z-index: 9;
  @include abstracts.screen(xl) {
    margin-left: 30px;
  }
  @include abstracts.screen(lg) {
    inset: 0 50% 0 0;
    position: fixed;
    background: var(--navbar-side);
    margin-left: 0;
    padding: 20px 0;
    translate: -100%;
    transition: translate 0.5s;

    &.show {
      translate: 0;
    }
    &.show ~ &-overlay {
      visibility: visible;
      opacity: 1;
    }
  }
  @include abstracts.screen(md) {
    inset: 0 20% 0 0;
  }
  &-close-btn {
    display: none;
    @include abstracts.screen(lg) {
      display: block;
      padding: 10px 40px;
    }
  }
  &-overlay {
    visibility: hidden;
    opacity: 0;
    transform: opacity, visibility;
    transition-duration: 0.5s;
    @include abstracts.screen(lg) {
      // visibility: visible;
      // opacity: 1;
      position: fixed;
      inset: 0;
      z-index: 8;
      background-color: rgba($color: #000000, $alpha: 0.4);
    }
  }
  &--item {
    &:hover .dropdown {
      display: block;
    }
  }

  &__list {
    display: flex;
    @include abstracts.screen(lg) {
      flex-direction: column;
      overflow-y: auto;
      height: calc(100% - 26px);
    }
  }

  &__link {
    @extend %flexItemCenter;
    gap: 6px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.46667; /* 146.667% */
    height: 50px;
    padding: 0 15px;
    @include abstracts.screen(lg) {
      justify-content: space-between;
      padding: 0 40px;
      font-family: Gordita;
      font-size: 1.5rem;
      line-height: 146.667%; /* 146.667% */
    }
  }
  .row-down {
    margin-top: 3px;
    width: 12px;
    height: 12px;
  }
}

.top-act {
  display: flex;
  gap: 30px;
  @include abstracts.screen(xl) {
    margin-left: auto;
    gap: 20px;
  }
  @include abstracts.screen(lg) {
    margin-left: 0;
  }

  .top-act__group {
    @extend %flexItemCenter;
    min-width: 50px;
    height: 50px;
    border-radius: 8px;
    background: var(--top-act-grp-bg);
    box-shadow: 0px 20px 60px 10px var(--top-act-grp-shadow);

    .top-act-sepharate {
      width: 1px;
      height: 30px;
      background: var(--top-act-sepharate);
    }
  }
  .top-act__group--single {
    @include abstracts.screen(lg) {
      display: none;
    }
  }
  &__group--single &__btn {
    padding: 13px;
  }
  &__btn {
    padding: 0 20px;
    @extend %flexItemCenter;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%; /* */
  }
  .top-act-user {
    .top-act-avt {
      width: 50px;
      height: 50px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}

.theme_darklight {
  border: var(--btn-border-theme);
  padding: 5px;
  border-radius: 8px;
  .icon-darklight {
    width: 40px;
    height: 40px;
    filter: var(--filter_theme);
    transition: transform 1s ease;
  }
}
.theme_darklight:hover {
  box-shadow: var(--btn-theme-shadow);
  border-color: var(--btn-hover);
  .icon-darklight {
    transform: rotate(90deg);
  }
}
