@use "../abstracts";
.dropdown {
  display: none;
  width: min(1240px, 100%);
  padding-top: 50px;
  position: absolute;
  border-radius: 20px;
  left: 0;
  @include abstracts.breakpoint(lg) {
    display: block;
    position: initial;
    padding-top: 0;
  }

  &--inner {
    --inner-max-height: min(590px, 100vh - 158px);
    --inner-padding: 30px;
    --max-height-inner: calc(var(--inner-max-height) - var(--inner-padding) * 2);
    position: relative;
    height: var(--inner-max-height);
    background: var(--dropdown-bg-color);
    box-shadow: 0px 40px 90px 20px var(--dropdown-shadown-color);
    padding: var(--inner-padding);
    border-radius: 20px;

    &::before {
      content: url("../icon/dropdown-arrow.svg");
      position: absolute;
      top: -13px;
      left: var(--arrow-left-pos);
      translate: -50%;
      filter: var(--dropdown-arow-color);
    }
    @include abstracts.breakpoint(lg) {
      padding: 0 40px;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;
      height: auto;
      &::before {
        content: none;
      }
    }
  }
}
.top-menu {
  position: relative;
  height: var(--max-height-inner);
  @media (max-width: 991.98px) {
    position: initial;
  }
  &-main {
    width: 292px;
    max-height: inherit;
    overflow-y: auto;
    border-right: 1px solid var(--top-menu-border-color);
    @include abstracts.breakpoint(lg) {
      height: auto;
      border-right: none;
    }
  }
}
.menu-column {
  display: flex;
}
.menu-column__icon {
  flex-shrink: 0;
  position: relative;
  width: 30px;
  height: 30px;
  @include abstracts.breakpoint(xl) {
    display: none;
  }
  @include abstracts.breakpoint(lg) {
    display: block;
  }

  .menu-column__icon-1,
  .menu-column__icon-2 {
    object-fit: contain;
  }
  .menu-column__icon-1 {
    width: 30px;
    height: 30px;
  }
  .menu-column__icon-2 {
    position: absolute;
    width: 24px;
    height: 24px;
    right: -6px;
    bottom: -8px;
    filter: var(--menu-column-icon-color);
  }
}
.menu-column__content {
  margin-left: 14px;
  flex: 1;
  @include abstracts.breakpoint(lg) {
    margin-left: 0;
  }
  .menu-column-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    padding: 6px 0;
    @include abstracts.breakpoint(lg) {
      margin-bottom: 26px;
    }
  }
  .menu-column__list {
    display: block;
    margin-top: 13px;

    .menu-column__item {
      display: block;

      &:hover > .menu-column__link {
        color: #0071dc;
        font-weight: 500;
      }
      .menu-column__link {
        display: block;
        padding: 7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42857;
      }
    }

    .menu-column__item:last-child .menu-column__link {
      padding-bottom: 0;
    }
    @include abstracts.breakpoint(lg) {
      margin-top: 0;
    }
  }
}
.menu-column__item {
  .sub-menu {
    display: none;
  }

  &--active .sub-menu {
    display: grid;
  }
  // &:hover .sub-menu {
  //   display: grid;
  // }
}
.sub-menu {
  position: absolute;
  inset: 0 0 0 292px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: auto;

  @include abstracts.breakpoint(lg) {
    position: initial;
    grid-template-columns: 1fr;
  }
  &-column {
    padding: 0 0 0 var(--inner-padding);
    @include abstracts.breakpoint(lg) {
      padding: 0;
      margin-top: 10px;
    }
  }
  .menu-column + .menu-column {
    margin-top: 22px;
  }
  &--single {
    display: grid;
    position: initial;
    inset: initial;
    grid-template-columns: repeat(4, 1fr);
    height: var(--max-height-inner);
    @include abstracts.breakpoint(lg) {
      grid-template-columns: 1fr;
      height: auto;
    }
  }
  .menu-column__content {
    @include abstracts.breakpoint(lg) {
      margin-left: 14px;
    }
  }
}
