@use "../abstracts";
.logo {
  display: flex;
  align-items: center;
  gap: 14px;

  .img-logo {
    @include abstracts.screen(lg) {
      display: none;
      width: 24px;
      height: 24px;
      // display: block;
    }
  }
  @include abstracts.screen(lg) {
    font-size: 1.8rem;
    gap: 10px;
  }

  .name-logo {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.45455; /* 145.455% */
    color: var(--text-color);
    @include abstracts.screen(lg) {
      // display: none;
    }
  }
}
