*,
::before,
::after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Gordita, sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: var(--body-bg);
}
a,
button,
input,
select,
textarea {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.icon {
  filter: var(--icon-color);
}
input {
  background-color: transparent;
}
