@use "sass:math";
@use "sass:map";

// Breakpoints, dimension, container, row, column, v.v
$grid-breakpoints: (
  xxl: 1400px,
  xl: 1200px,
  lg: 992px,
  md: 768px,
  sm: 576px,
);
$container-max-widths: (
  sm: 100%,
  md: 540px,
  lg: 720px,
  xl: 960px,
  xxl: 1140px,
);
$grid-columns: 12;
$grid-gutter-width: 30px !default;

%gutter-padding {
  padding-left: $grid-gutter-width * 0.5;
  padding-right: $grid-gutter-width * 0.5;
}

.container-fluid {
  --grid-gutter-width-x: #{$grid-gutter-width};
  --grid-gutter-width-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @extend %gutter-padding;
}

.container {
  @extend .container-fluid;
  width: 1370px;
}

$gutters: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-width-y) * -1);
  margin-left: calc(var(--grid-gutter-width-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-width-x) * 0.5 * -1);

  > * {
    @extend %gutter-padding;
    margin-top: var(--grid-gutter-width-y);
  }
}

.col {
  flex: 1 0;
}

@mixin make-media-query($dimension) {
  @media (max-width: ($dimension - 0.02)) {
    @content;
  }
}
@mixin make-row-cols($infix: null) {
  @for $i from 1 through $grid-columns {
    .row-cols#{$infix}-#{$i} > * {
      flex: 0 0 auto;
      width: math.div(100%, $i);
    }
  }
}
@mixin make-gird-columns($infix: null) {
  @for $i from 1 through $grid-columns {
    .col#{$infix}-#{$i} {
      flex: 0 0 auto;
      width: math.div(100%, $grid-columns) * $i;
    }
  }
}
@mixin make-offset($infix: null) {
  @for $i from 0 to $grid-columns {
    .offset#{$infix}-#{$i} {
      margin-left: if($i > 0, math.div(100%, $grid-columns) * $i, 0);
    }
  }
}
@mixin make-gutter($infix: null) {
  @each $i, $rate in $gutters {
    .g#{$infix}-#{$i},
    .g#{$infix}-#{$i}-x {
      --grid-gutter-width-x: #{$grid-gutter-width * $i};
    }
    .g#{$infix}-#{$i},
    .g#{$infix}-#{$i}-y {
      --grid-gutter-width-y: #{$grid-gutter-width * $i};
    }
  }
}
@include make-row-cols();

@include make-gird-columns();

@include make-offset();

@include make-gutter();
@each $breakpoint, $dimension in $grid-breakpoints {
  $max-width: map.get($container-max-widths, $breakpoint);

  $infix: "-#{$breakpoint}";

  @include make-media-query($dimension) {
    .container {
      max-width: $max-width;
    }
    @include make-row-cols();

    @include make-gird-columns();

    @include make-offset();

    @include make-gutter();
  }
}
